In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import f_oneway
import warnings
warnings.filterwarnings('ignore')

In [7]:
net = pd.read_csv('datasets\\Internet-Demographic.csv')

In [8]:
net

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

<h1>Birth Rates</h1>

In [23]:
net['Birth rate'].value_counts()

Birth rate
10.200    5
9.200     4
12.500    3
8.500     3
9.400     2
         ..
32.947    1
20.850    1
42.394    1
40.471    1
35.715    1
Name: count, Length: 177, dtype: int64

<h1>Top 5 Internet Users</h1>

In [10]:
net['Internet users'].mean()

np.float64(42.07647089194872)

In [12]:
net2 = net[net['Internet users'] >42]
net2['Internet users'].mean()

np.float64(67.686133746875)

In [16]:
net3 = net2[net2['Internet users'] >67]
net3['Internet users'].mean()

np.float64(81.75577865999999)

In [18]:
net2[net2['Internet users'] > 94]

    Country Name Country Code  Birth rate  Internet users Income Group
22       Bermuda          BMU        10.4         95.3000  High income
47       Denmark          DNK        10.0         94.6297  High income
84       Iceland          ISL        13.4         96.5468  High income
131       Norway          NOR        11.6         95.0534  High income
163       Sweden          SWE        11.8         94.7836  High income