In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import f_oneway
import warnings
warnings.filterwarnings('ignore')

In [7]:
net = pd.read_csv('datasets\\Internet-Demographic.csv')

In [8]:
net

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

<h1>Birth Rates</h1>

In [23]:
net['Birth rate'].value_counts()

Birth rate
10.200    5
9.200     4
12.500    3
8.500     3
9.400     2
         ..
32.947    1
20.850    1
42.394    1
40.471    1
35.715    1
Name: count, Length: 177, dtype: int64

<h1>Top 5 Internet Users</h1>

In [10]:
net['Internet users'].mean()

np.float64(42.07647089194872)

In [12]:
net2 = net[net['Internet users'] >42]
net2['Internet users'].mean()

np.float64(67.686133746875)

In [16]:
net3 = net2[net2['Internet users'] >67]
net3['Internet users'].mean()

np.float64(81.75577865999999)

In [18]:
net2[net2['Internet users'] > 94]

    Country Name Country Code  Birth rate  Internet users Income Group
22       Bermuda          BMU        10.4         95.3000  High income
47       Denmark          DNK        10.0         94.6297  High income
84       Iceland          ISL        13.4         96.5468  High income
131       Norway          NOR        11.6         95.0534  High income
163       Sweden          SWE        11.8         94.7836  High income

<h1>count of countries by income grouph1>

In [1]:
income_counts = net['Income Group'].value_counts().reset_index()
income_counts.columns = ['Income Group', 'Count']
print(income_counts)

NameError: name 'net' is not defined

<h1>box plot of internet usage</h1>

In [ ]:
internet_users = net['Internet users'].dropna()

# Create the box plot
plt.figure(figsize=(8, 5))
plt.boxplot(internet_users)
plt.title('Box Plot of Internet Users')
plt.ylabel('Percentage of Internet Users')
plt.show()

<h1>countries with no internet access</h1>

In [ ]:
# Filter countries with no internet access (0 or NaN)
no_internet_access = net[(net['Internet users'].isna()) | (net['Internet users'] == 0)]

# Display the list of countries with no internet access
print(no_internet_access[['Country Name', 'Internet users']])

<h1>average birth rate</h1>

In [ ]:
# Calculate the average birth rate
average_birth_rate = net['Birth rate'].mean()

print(f"Average Birth Rate: {average_birth_rate:.2f}")

<h1>scatter plot birth rate vs internet access</h1>

In [ ]:
filtered_data = net[['Birth rate', 'Internet users']].dropna()

# Create the scatter plot
plt.figure(figsize=(8, 5))
plt.scatter(filtered_data['Internet users'], filtered_data['Birth rate'], alpha=0.7, color='blue')
plt.title('Scatter Plot: Birth Rate vs Internet Access')
plt.xlabel('Percentage of Internet Users')
plt.ylabel('Birth Rate')
plt.show()

<h1>countries with birth rates above 40</h1>

In [ ]:
# Filter countries with birth rates above 40
high_birth_rate = net[net['Birth rate'] > 40]

# Display the list of countries and their birth rates
print(high_birth_rate[['Country Name', 'Birth rate']])

<h1>pie chart of income groups</h1>

In [ ]:
income_counts = net['Income Group'].value_counts()

# Create a pie chart
plt.figure(figsize=(8, 8))
plt.pie(income_counts, labels=income_counts.index, autopct='%1.1f%%', startangle=90)
plt.title('Pie Chart of Income Groups')
plt.show()

<h1>Correlation between birth rate and internet usage</h1>

In [ ]:
# Calculate the correlation between birth rate and internet users
correlation = net['Birth rate'].corr(net['Internet users'])

print(f"Correlation between Birth Rate and Internet Usage: {correlation:.2f}")